@media screen and (min-width: 480px) 
{
nav
{

margin: 0 ;
padding: 10px ;
width:100%;
height: 300em;

}

nav li
{

width: 29%;
height: 100%;
padding-top: 0em;
padding-left: 5%;
}





}

@media screen and (min-width: 1000px)
{

nav
{

margin: 0 ;
padding: 10px ;
width:100%;
height: 3em;

}

nav li
{

width: 28.5%;
height: 100%;
padding-top: 0em;
padding-left: 5%;
}




}