#whole_page{
	box-sizing: border-box;
	padding-left: 4%;
	padding-right: 4%;
	width: 92%;
	margin: 0 0 0 0;
}

.one_result {
	width: 60%;
	height: auto; /*but I don't want each box to be diff height...?*/
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: auto;
	margin-bottom: auto;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.textbook_image{
	vertical-align: middle;
	display: inline-block;
	position: relative;
	float: left;
	height: 100%;
}

.textbook_image img{
	width: 170px;
	height: 230px;
	vertical-align: middle;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin: 0;
}

.text_box{
	display: inline-block;
	position: relative;
	float: middle;
	margin-left: 1em;
	margin-right: auto;
	height: 100%;
	vertical-align: center;
	}

.text{
	font-family: "Helvetica Noue", "Helvetica"
}
	
.title{font-size: 1.5em;}
.seller {font-size: 1em;}
.type{font-size: 1em;}
.price{font-size: 1em;}
.notes{font-size: 1em;}