.container-fluid{
	width: 95%;
	font-family: "Helvetica Neue","Helvetica",sans;
	font-weight: 700;
	color: white;
}
/* Styling of  navbar,written by Andy */
.navbar-brand:hover{
	color: red;
}

.navbar-right{
	color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 670px) {
	.navbar-header{
		height: 2em;
	}
}