a {
	color:white;
	text-decoration: none;
	text-align: center;
}
body {
	
	margin: 0;
	background-color:white;
	width:100%;
	
}
	


.text{
	
	color:rgba(0,51,102,.85);
	margin-top: 5%;
	display:block;
	margin-left:10%;
	float: left;
	margin-right:auto;
	font-family:"Helvetica Neue","Helvetica",sans;
	font-size: 2em;
	font-weight:200;
	width: 35%;
	text-align:center;
}

.register{
	float:right;
	padding: 5px;
	margin-top: 5%;
	color:rgba(0,51,102,.85);
	background-color: #e0e4ed;
	display:block;
	margin-left:auto;
	margin-right:10%;
	font-family:"Helvetica Neue","Helvetica",sans;
	font-size: 1em;
	font-weight:900;
	width: 30%;
	height: 65%;
	text-align:center;
	
}
.loginpic{
	padding:0;
	height: 240px;
	width: 240px;
}
input[type=text] {
	
	
  margin-top: 2%;
  border-radius: 0;
  width: 40%;
  height: 5%;
  padding:0;

  -webkit-appearance: box;
}
input[type=password] {
	
	
  margin-top: 2%;
  border-radius: 0;
  width: 40%;
  height: 5%;
  padding:0;

  -webkit-appearance: box;
}

input[type=submit] {
  height: 7%;
  border-radius: 15px;
  width: 40%;
  margin-top: 1%;
  padding: 5px;
  color:white;
  background-color:rgba(0,51,102,.85);

  -webkit-appearance: box;
}
input[type=submit]:hover {
  cursor: hand;
  
  background-color:rgba(0,51,102,1);

  
}


#login:hover{
	background-color:#52527A;
	cursor: hand;
	
}
#registration:hover{
	background-color:#52527A;
	cursor: hand;
	
}





img{
	
	display:block;
	margin-top:50px;
	
	margin-left: auto;
	margin-right: auto;
	}
#picdescript{
	color:rgba(0,51,102,.85);
	font-family:"Helvetica Neue","Helvetica",sans;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
}

	
@media screen and (min-width: 1em){
	li{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}


	img{
		width:360px;
		height:240px;
	
		}
}


@media screen and (min-width: 40em){
	li{
		display:inline-block;
	}


	img{
		width:640px;
		height:360px;
		}

}
