.navigation{
	margin:0;
	padding:0;
	
	display:block;
	width:100%;
    
    text-align: right;    
	font-family:"Helvetica Neue","Helvetica",sans;
	font-size: 1em;
	font-weight: 900;
	color: white;
}

#home{
	margin-left:auto;
	margin-right: auto;
	width:40%;
}
#home:hover{
	cursor: hand;
}

#name {
	font-size: 1em;
	font-weight: 900;
}

.tabs{
	background-color:rgba(0,0,0,.75);
	width: 100%;
	list-style-type: none;
    
	margin-bottom: auto;
	margin: 0;
	padding: 0;
	
}

.tabs li{
	display:inline-block;
	margin:0;
	
	width: 10%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	}
	
#login:hover{
	background-color:#52527A;
	cursor: hand;
	}

#registration:hover{
	background-color:#52527A;
	cursor: hand;
	}
	
#name:hover{
	background-color:#52527A;
	cursor: hand;
	}

#Logout:hover{
	background-color:#52527A;
	cursor: hand;
	}