.container-fluid{
	width: 95%;
	font-family: "Helvetica Neue","Helvetica",sans;
	font-weight: 700;
	color: white;
}
/* Styling of  navbar,written by Andy */
.navbar-brand:hover{
	color: red;
}

.navbar-right{
	color: white;
}