body {
	margin: 0;
	width: 100%;
	background-image: url("registerbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Helvetica Neue","Helvetica",sans;
}

#close{
	position: relative;
	float: right;
	color: blue;
	width: auto;
}

#close:hover{
	text-decoration: underline;
	cursor: hand;
}

.logo{
	padding: 10px;
	color: rgba(0,51,102,.85);
	margin-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica Neue","Helvetica",sans;
	font-size: 2em;
	font-weight: 100;
	width: 40%;
	text-align: center;
}

#blackfilter{
	position: fixed;
	z-index: 2000;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
}

#popup{
	z-index: 3000;
	position: fixed;
	float: middle;
	left: 50%;
	top: 50%;
	margin-left: -15em;
	margin-top: -13em;
	padding: 1em;
	color: rgba(0,51,102,.85);
	background-color: #e0e4ed;
	width: 30em;
	height: auto;
	text-align: center; /*centers the input boxes*/
	border-radius: 5px;
	font-size: 0.9em;
}

#popupcorrect{
	top: 47%;
	margin-top: -15em;
	
	z-index: 3000;
	position: fixed;
	float: middle;
	left: 50%;
	margin-left: -15em;
	padding: 1em;
	color: rgba(0,51,102,.85);
	background-color: #e0e4ed;
	width: 30em;
	height: auto;
	text-align: center; /*centers the input boxes*/
	border-radius: 5px;
	font-size: 0.9em;
}

/*----------- POPUP FOR CONFIRMATION ---------- */

#prompt{
	text-align: center;
	font-weight: 700;
	color: black;
	text-decoration: underline;
	margin: 0;
	margin-bottom: 1.5em;
}

.bold {
	font-weight: 700;
}

#popuptext{
	width: 22em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.popupinfo{
	margin-top: 1em;
	margin-bottom: 1em;
	color: #000033;
}

.imageBookPopup{
	width: 165px;
	height: 220px;
	margin-top: 1em;
	margin-bottom: 2em;
}

#yesButton{margin-right: 1em;}
#yesButton:hover{cursor: hand;}

#noButton{margin-left: 1em;}
#noButton:hover{cursor: hand;}

/*.box {
	font-family: "Helvetica Neue","Helvetica",sans;
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	width: 80%;
}

.buy{
	display: block;
	background: #F9FDFE;
	height: 50%;
	padding-top: 0;
	border: Blue solide;
}*/

.left{
	float: left;
	display: block;
	width: 38%;
	margin-top: 0;
	margin-left: 3%;
	margin-bottom: 3%;
	height: 30em;
}

.titledash{
	font-size: 1.2em;
	text-align: center;
	margin-top: 0;
}

#details{
	text-align: left;
}

.selling{
	height: auto;
	background: #C6ECFC;
	padding-top: 1.5em;
	padding-bottom: 0.6em;
	margin-top: 0;
	border-style: solid;
	border-color: none;
	border-width: 0;
	border-radius: 8px;
	box-sizing: border-box;
}

.selling h1{
	padding-bottom: 0.5em;
}

#textbox{
	width: auto;
}

#text{ /*ul*/
	width: auto;
	height: auto;
	list-style-type: none;
	margin-top: 0;
	margin-left: 2.3em;
	margin-right: 2.3em;
	padding-left: 0;
	/* padding-bottom: 2em; */
	
	border-top-style: solid;
	border-top-color: #b3b3b3;
	border-width: 1px;
}

.booktitle{
	width: auto;
	height: 1.3em;
	font-size: 0.9em;
	margin-right: auto;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b3;
	border-width: 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.booktitle:hover{
	cursor: hand;
	color: #000066;
	font-weight: 700;
}

.bookname{
	float: left;
	height: auto;
}

.price{
	float: right;
	height: auto;
}

.addNewBook{
	background-color: #C6ECFC;
	margin-top: 2em;
	padding: 1em;
	border-radius: 8px;
	text-align: center;
}

.bookInputBorders{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.bookInput{
	height: 2em;
	width: 70%;
	padding-left: 0.4em;
}

#help{
	margin-top: 2em;
	margin-bottom: 2em;
}

.inputtitle{
	text-align: center;
	font-weight: 700;
	margin-top: 0.2em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 0.9em;
}

#underline{
	font-size: 1em;
	text-decoration: underline;
	margin-bottom: 1em;
}

.right{
	float: right;
	width: 52%;
	background: #C6ECFC;
	margin-top: 0;
	margin-right: 3%;
	margin-bottom: 3%;
	height: auto;
	border-radius: 8px;
}

.displaybook{
	float: left;
	padding-top: 2em;
	padding-left: 2.5em;
	width: 80%;
}

.displaybook h1{
	margin-bottom: 2em;
}

#lol{
	font-size: 1em;
}

#textbookpic{
	float: left;
	height: 170px;
	width: 128px;
	padding: 0;
	padding-right: 2em;
	margin-bottom: 1em;
}

#title{
	margin-top: 0;
}

.floatleft{
	width: 5em;
	display: inline-block;
	margin: 0;
	padding-bottom: 0.2em;
}

.floatright{
	width: auto;
	display: inline-block;
}

#gah{
	margin-top: 2.5em;
	margin-bottom: 1.4em;
	font-weight: 700;
	color: #990000;
	line-height: 1.3em;
}

#deleteButton{
	width: 15em;
	height: 2.5em;
	border-radius: 2px;
	color: white;
	font-weight: 700;
	background-color: #b30000;
	border-style: none;
}

#deleteButton:hover{
	cursor: hand;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: #bfbfbf;
}

#addButton {
	height: 2.5em;
	border-radius: 2px;
	width: 60%;
	margin-top: 1.5em;
	color: white;
	font-weight: 700;
	background-color: #3365ff;
	border-style: none;
	-webkit-appearance: box;
}

input[type=submit]:hover {
	cursor: hand;
	background-color:rgba(0,51,102,1);
}

/*.selling:hover{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.addNewBook:hover{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.right:hover{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}/*

/*-------------------- SEARCH BAR -------------------*/
#searchwrapper{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.8em;
	padding-top: 0;
}

#typehere{
	width: 80%;
	height: 2em;
	display: inline-block;
	padding-left: 0.6em;
	font-size: 1em;
	padding-top: 0;
	padding-bottom: 0;
}

#button{
	width: 18%;
	height: 2em;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	background-color: #e6e6e6;
	border-style: none;
	border-radius: 5px;

	color: #666666;
}

/* search button 
#button{
	width: 18%;
	display: inline-block;
	height: 3em;
	border-radius: 0;
	background-color: #bfbfbf;
	border-style: none;
	border-radius: 1px;
	color: #808080;
	font-weight: 700;
} */

#button:hover{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: #000000;
}

::-webkit-input-placeholder {
	color: #8c8c8c;
	font-size: 1em;
	line-height: normal;
	padding-top: 0;
	padding-bottom: 0;
}
:-moz-placeholder { /* older Firefox*/
	color: #8c8c8c;
	font-size: 1em;
	line-height: normal;
	padding-top: 0;
	padding-bottom: 0;
}
::-moz-placeholder { /* Firefox 19+*/ 
	color: #8c8c8c;
	font-size: 1em;
	line-height: normal;
	padding-top: 0;
	padding-bottom: 0;
} 
:-ms-input-placeholder { 
	color: #8c8c8c;
	font-size: 1em;
	line-height: normal;
	padding-top: 0;
	padding-bottom: 0;
}

